subjectAltName = DNS:postgres,IP:10.211.55.2,IP:127.0.0.1
extendedKeyUsage = serverAuth
subjectAltName = DNS:pgadmin,IP:10.211.55.2,IP:127.0.0.1
extendedKeyUsage = serverAuth
subjectAltName = DNS:postgres,IP:10.211.55.2,IP:127.0.0.1
extendedKeyUsage = serverAuth
subjectAltName = DNS:pgadmin,IP:10.211.55.2,IP:127.0.0.1
extendedKeyUsage = serverAuth
subjectAltName = DNS:postgres,IP:10.211.55.2,IP:127.0.0.1
extendedKeyUsage = serverAuth
subjectAltName = DNS:pgadmin,IP:10.211.55.2,IP:127.0.0.1
extendedKeyUsage = serverAuth
subjectAltName = DNS:postgrest,IP:10.211.55.2,IP:127.0.0.1
extendedKeyUsage = serverAuth
