subjectAltName = DNS:node1,IP:10.211.55.2,IP:127.0.0.1
extendedKeyUsage = serverAuth
subjectAltName = DNS:node2,IP:10.211.55.2,IP:127.0.0.1
extendedKeyUsage = serverAuth
subjectAltName = DNS:node1,IP:10.211.55.2,IP:127.0.0.1
extendedKeyUsage = serverAuth
subjectAltName = DNS:node2,IP:10.211.55.2,IP:127.0.0.1
extendedKeyUsage = serverAuth
subjectAltName = DNS:node1,IP:10.211.55.2,IP:127.0.0.1
extendedKeyUsage = serverAuth
subjectAltName = DNS:node2,IP:10.211.55.2,IP:127.0.0.1
extendedKeyUsage = serverAuth
subjectAltName = DNS:node1,IP:10.211.55.2,IP:127.0.0.1
extendedKeyUsage = serverAuth
subjectAltName = DNS:node2,IP:10.211.55.2,IP:127.0.0.1
extendedKeyUsage = serverAuth
